<header>
  <div class="titulo-header">
    <span><a href="index.html">Mil Sabores</a></span>
  </div>

  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navegacion-header">
    <a href="../productos.html">Productos</a>
    <a href="">Sobre Nosotros</a>
    <a href="">Contacto</a>
  </div>

  <div class="acciones">
    <div class="registro">
      <img src="../images/user (1).svg" alt="" class="user-icon" />
      <div class="dropdown-content">
        <a href="login.html">Iniciar Sesión</a>
        <a class="reg-style" href="registrarse.html">Registrarse</a>
      </div>
    </div>
    <div class="carrito">
      <img src="../images/cart (1).svg" alt="" />
    </div>
  </div>
</header>
